<div>
	<img src="assets/download.png" alt="MCQ logo" width="180" height="95" />
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="navbar-dark navbar-nav nav-link" routerLinkActiveOptions="{exact:true}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="instruction">Instruction Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="question">Question Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="last">Thankyou Page</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" routerLink="aboutus">About Us</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" routerLink="contactus">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>