<div class="col-md-6" style="margin: 0 auto;">
  <h3 class="text-center pt-20">Book a test</h3>
  <form>
    <div class="form-group">
      <label for="exampleInputName1">Name</label>
      <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter name" name="studentDetails.name" [(ngModel)]="studentDetails.name" />
    </div>
    <div class="form-group">
      <label for="exampleInputMobile1">Mobile No.</label>
      <input type="text" class="form-control" id="exampleInputMobile1" maxlength="10" minlength="10" placeholder="Enter mobile number" name="studentDetails.mobile" [(ngModel)]="studentDetails.mobile" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email here" name="studentDetails.email" [(ngModel)]="studentDetails.email" />
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitDetails()">Submit</button>
  </form>
</div>
